.home {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.not-found h1 {
  color: gray;
  font-size: 3rem;
}
